@media (max-width: 766px) {
    .footer {
        font-size: 12px;
        line-height: 16px;
    }
    .footer__copy {
        margin-bottom: 16px;
    }
    .footer__top {
        padding: 26px 0;
    }
    .footer__bottom {
        padding-top: 26px;
        padding-bottom: 94px;
    }
    .footer__terms::-webkit-scrollbar {
        width: 3px;
    }
    .footer__terms {
        padding-right: 13px;
    }
}

@media (min-width: 767px) {
    .footer {
        font-size: 13px;
        line-height: 18px;
    }
    .footer__top {
        padding: 28px 0;
    }
    .footer__bottom {
        padding: 50px 0;
    }
    .footer__terms::-webkit-scrollbar {
        width: 5px;
    }
    .footer__terms {
        padding-right: 35px;
    }
}

.footer {
    color: #55575c;
}

.footer__top, .footer__bottom {
    border-top: 1px solid #E5E5E5;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__copy, .footer__adress {
    box-sizing: border-box;
}

.footer__terms {
    color: #808185;
    max-height: 122px;
    overflow-y: auto;
}

.footer__terms::-webkit-scrollbar-track {
    background: #E1E1E3;
}

.footer__terms::-webkit-scrollbar-thumb {
    background: #808185;
}