@media (max-width: 766px) {
    .form {
        padding-top: 48px;
        padding-bottom: 61px;
    }
    .form__wrapper {
        flex-direction: column;
    }
    .form__description {
        margin: 0 16px;
        padding-bottom: 14px;
    }
    .form__box {
        margin: 0 -16px;
        background: #F4F4F4;;
        height: 450px;
    }
    .form__container{
        padding-bottom:18px;
    }
}

@media (min-width: 767px) {
    .form {
        padding-top: 75px;
        padding-bottom: 61px;
    }
    .form__wrapper {
        margin: 0 -20px;
    }
    .form__description {
        margin: 0 20px;
        padding-bottom: 42px;
    }
    .form__box {
        margin: 0 auto;
        background: #FFFFFF;
        border: 1px solid #E1E1E3;
        border-radius: 12px;
        height: 511px;
    }
}

.form__wrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.form__description {
    max-width: 264px;
    display: flex;
}

.form__description__text {
    margin-left: 14px;
    font-size: 16px;
    line-height: 24px;
}

.form__box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 964px;
}

.placeholder {
    color: #A2A4A6;
    font-size: 18px;
    line-height: 26px;
}