@media (max-width: 766px) {
    .hero__sticker-img {
        display: none;
    }
    .hero {
        padding-top: 24px;
        padding-bottom: 264px;
        margin-bottom: 39px;
        background: url('../../img/bg_mob.png')no-repeat center;
    }
    .hero__title {
        font-size: 36px;
        line-height: 42px;
    }
    .hero__percent {
        font-size: 64px;
        line-height: 72px;
    }
    .hero__percent span {
        font-size: 42px;
    }
    .hero__button {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 9999;
        border-radius: 0;
    }
}

@media (min-width: 767px) {
    .hero__sticker-img-mob {
        display: none;
    }
    .hero {
        padding-top: 80px;
        padding-bottom: 80px;
        background: url('../../img/bg.png') no-repeat right;
        margin-bottom: 54px;
    }
    .hero__title {
        font-size: 60px;
    }
    .hero__percent {
        font-size: 108px;
    }
    .hero__percent span {
        font-size: 72px;
    }
}

.hero {
    color: white;
    background-color: #26364D;
    background-size: cover;
}

.hero__text {
    max-width: 540px;
    line-height: 70px;
    margin-bottom: 62px;
}